.DeliveryModal {
  width: 750px;
  padding: 2rem;

  text-align: center;
  h3 {
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-weight: 900;
  }

  p {
    width: 40%;
    font-size: 0.9rem;
    margin: 0 auto;
  }
}
