.Footer {
  //   border: 1px solid red;
  margin-top: 5rem;
  background: rgb(12, 23, 29);

  footer {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    padding: 6rem 0.5rem 3rem;
    justify-content: space-between;

    @media (max-width: $desktop) {
      width: 80%;
      flex-wrap: wrap;
    }

    @media (max-width: $mobile) {
      width: 90%;
    }

    //   @media (max-width: $desktop) {
    //   width: 80%;
    // }

    nav {
      width: 50%;

      @media (max-width: $desktop) {
        width: 80%;

        margin: 0 auto 3rem;
      }

      @media (max-width: $mobile) {
        width: 100%;
      }
    }

    .web-links {
      display: flex;
      justify-content: space-between;
      width: 350px;
      margin-bottom: 3rem;

      @media (max-width: $desktop) {
        width: 100%;
      }
      span {
        margin-right: 2rem;

        &:last-child {
          margin-right: 0;
        }
        a {
          font-size: 1.4rem;
          color: #3396a9;
        }
      }
    }

    .redirect-links {
      display: flex;
      justify-content: space-between;

      width: 350px;
      text-align: center;

      @media (max-width: $desktop) {
        width: 80%;
        margin: 0 auto;
      }

      @media (max-width: $mobile) {
        flex-wrap: wrap;
        flex-direction: column;
      }
      a {
        display: block;
        margin-bottom: 1rem;
        text-transform: capitalize;
        color: #3396a9;
      }
    }

    .more-info {
      display: flex;

      color: white;

      @media (max-width: $mobile) {
        flex-wrap: wrap;
      }

      .nation-wide {
        text-align: center;

        @media (max-width: $mobile) {
          margin-bottom: 3rem;
        }

        img {
          width: 300px;
        }

        h3 {
          margin: 1rem 0;
          text-transform: capitalize;
          font-weight: 900;
          font-size: 1.4rem;
          width: 50%;
          margin: 1rem auto;
        }
        p {
          width: 65%;
          margin: 0 auto;
          line-height: 1.8;
          color: #c9d0d4;
        }
      }
      .work-forus {
        text-align: center;

        //   img {
        //  width: 100px;
        //   }

        h3 {
          margin: 1rem 0;
          text-transform: capitalize;
          font-weight: 900;
          font-size: 1.4rem;
        }

        p {
          width: 75%;
          margin: 0 auto;
          line-height: 1.8;
          color: #c9d0d4;
        }
      }
    }
  }
  .copyright {
    background: white;
    font-size: 0.8rem;
    text-align: center;
    padding: 0.8rem 0;
  }
}
