.HomeHeader {
  height: 66vh;
  position: relative;
  background: rgba(0, 0, 0, 0.6);
  background: rgba(12, 23, 29, 0.8);

  box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.8) inset;

  @media (max-width: $laptop) {
    height: 100%;
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    @include bgIimgProps("../imgs/bgheader.jpg");
    z-index: -1;
  }
  header {
    max-width: 1350px;
    padding: 4rem 0.5rem 0;
    margin: 0 auto;
    @include flex(space-between);

    @media (max-width: $desktop) {
      max-width: 80%;
    }

    @media (max-width: $laptop) {
      flex-direction: column;
      align-items: center;
    }

    @media (max-width: $mobile) {
      width: 80%;
    }

    .title {
      text-align: center;

      span {
        display: inline-block;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.2rem;
        margin-bottom: 1rem;
        letter-spacing: 4px;
        color: white;

        @media (max-width: $mobile) {
          font-size: 0.9rem;
        }
      }

      h1 {
        font-size: 6rem;
        text-transform: uppercase;
        width: 650px;
        font-weight: 900;
        letter-spacing: 5px;
        margin-bottom: 2rem;
        color: $red;

        @media (max-width: $laptop) {
          font-size: 5rem;
        }

        @media (max-width: $mobile) {
          font-size: 3rem;
          width: 100%;
        }
      }

      .btn-container {
        width: 50%;
        margin: 0 auto;

        @media (max-width: $mobile) {
          width: 75%;
        }
        .btn {
          padding: 1.5rem 2rem;
          border-radius: 40px;
          background-color: $blue;
          background: linear-gradient(135deg, #29a8be 0%, #3495a7 100%);
          text-transform: capitalize;
          border: none;
          color: white;
          font-size: 1rem;
          cursor: pointer;
          font-weight: bold;

          @media (max-width: $laptop) {
            margin-bottom: 3rem;
          }

          @media (max-width: $mobile) {
            font-size: 0.9rem;
            margin-bottom: 1rem;
          }
        }
      }
    }

    .restaurant-description {
      background: white;
      width: 300px;
      margin: 0 auto;
      text-align: center;

      @media (max-width: $laptop) {
        margin: 2rem auto;
      }
    }
  }
}
