.Forms-wrapper {
  width: 700px;
  padding: 4rem 2rem 2rem;
  display: flex;
  justify-content: space-between;

  @media (max-width: $laptop) {
    width: 99%;
    padding: 2rem 2rem 1rem;
    flex-direction: column;
  }

  @media (max-width: $laptop) {
    width: 400px;
  }

  @media (max-width: $mobile) {
    width: 90%;
  }

  h3 {
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-weight: 900;
  }

  label {
    display: block;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 0.9rem;
    color: #c62829;
    input {
      width: 100%;
      display: block;
      margin: 0.5rem 0 1rem;
      padding: 0.7rem 1rem;
      font-size: 1rem;
      border-radius: 30px;
      border: 1px solid grey;
      border: none;
      background: rgb(236, 235, 235);
      outline: none;
      box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2) inset;
    }
  }

  .LoginForm {
    width: 45%;

    @media (max-width: $laptop) {
      width: 90%;
    }

    @media (max-width: $mobile) {
      width: 100%;
    }

    button {
      padding: 0.7rem 1.2rem;
      border-radius: 30px;
      font-weight: bold;
      text-transform: capitalize;
      border: none;
      background: #c62829;
      color: white;
    }

    .forgot-pass {
      margin-left: 1rem;
      font-size: 0.9rem;
      color: #c62829;
      cursor: pointer;
      @media (max-width: $mobile) {
        display: block;
        margin-top: 0.5rem;
      }
    }
  }

  .SignUpForm {
    width: 43%;

    @media (max-width: $laptop) {
      width: 90%;
      margin-top: 3rem;
    }

    span {
      display: block;
      margin-bottom: 0.5rem;
      font-size: 0.9rem;
    }

    .create-account {
      display: inline-block;
      padding: 0.7rem 1.2rem;
      border-radius: 30px;
      font-weight: bold;
      text-transform: capitalize;
      border: none;
      background: #c62829;
      color: white;
      margin-top: 0.3rem;
      cursor: pointer;
    }
  }
}

/// logout

.logout-wrapper {
  width: 700px;
  padding: 3rem 2rem 1rem;

  @media (max-width: $laptop) {
    width: 99%;
    padding: 2rem;
  }

  .Logout {
    h3 {
      text-align: center;
      text-transform: uppercase;
      font-weight: 900;
      margin-bottom: 1rem;
    }
    .user-information {
      text-align: center;
      margin-bottom: 2rem;

      p {
        margin-bottom: 0.6rem;
        font-size: 0.9rem;
        letter-spacing: 0.5px;
      }
    }
    .logout-btn {
      display: flex;
      justify-content: flex-end;
      padding-top: 1rem;
      border-top: 1px solid rgba(204, 200, 200, 0.3);

      button {
        padding: 0.7rem 1.2rem;
        border-radius: 30px;
        font-weight: 500;
        text-transform: capitalize;
        border: none;
        background: #c62829;
        color: white;
      }
    }
  }
}
