.FirstNavbar {
  background: #b82124;
  background: linear-gradient(#cf2b2e, #b82124);
  box-shadow: 0px 20px 29px -14px rgba(191, 191, 191, 1);

  .Navbar-wrapper {
    max-width: 1350px;
    margin: 0 auto;

    @media (max-width: $desktop) {
      max-width: 80%;
    }

    @media (max-width: $laptop) {
      display: none;
    }

    nav {
      display: flex;
      justify-content: space-between;
      // height: 5vh;
      padding: 1rem 0.5rem;
      position: relative;

      .Links {
        display: flex;
        justify-content: space-between;

        a {
          font-size: 1.1rem;
          text-transform: capitalize;
          color: white;
          font-family: "Quicksand", sans-serif;
          font-weight: 300;
        }

        width: 600px;
        .locations {
          font-family: "Nanum Gothic", sans-serif;

          a {
            h3 {
              text-transform: uppercase;
              font-size: 1.1rem;
              //   font-weight: 900;
            }
          }
        }
      }
      .box {
        text-transform: uppercase;
        color: white;
        font-weight: 800;

        position: absolute;
        top: 7px;
        right: 0;
      }
    }
  }
}

// second navbar

.SecondNavbar {
  .Navbar-wrapper {
    max-width: 1350px;
    margin: 0 auto;
    border-bottom: 1px solid rgb(199, 198, 198);

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.6rem 0.5rem;

    @media (max-width: $desktop) {
      max-width: 80%;
    }

    @media (max-width: $laptop) {
      display: none;
    }

    nav {
      display: flex;

      .btns {
        button {
          color: #c62829;
          padding: 0.3rem 2rem;
          font-size: 1.4rem;
          font-weight: 800;
          text-transform: uppercase;
          border: none;
          outline: none;
          background: none;
          margin-right: 2px;
          cursor: pointer;
        }
        .inner-btn {
          font-weight: normal;
          font-size: 0.9rem;
          text-transform: none;
          padding-top: 0.2rem;
          color: #333;
        }

        .delivery {
          border-right: 1px solid rgb(199, 198, 198);
        }
        .login {
          border-right: 1px solid rgb(199, 198, 198);
          border-left: 1px solid rgb(199, 198, 198);
        }
        .checkout {
          border-left: 1px solid rgb(199, 198, 198);
          //  border-right: none;
        }

        span {
          display: block;
          font-family: "Quicksand", sans-serif;
          font-weight: 300;
        }
      }
      .btn-checkout {
        button {
          padding-right: 0;
          .cart {
            display: inline-block;
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}

.NavRoutes {
  border-bottom: 1px solid rgb(199, 198, 198);
  padding: 0 0.5rem;
  max-width: 1350px;
  margin: 0 auto 3rem;

  @media (max-width: $laptop) {
    width: 80%;
  }

  @media (max-width: $laptop) {
    margin-top: 3rem;
    width: 100%;
    padding: 0;
  }

  nav {
    a {
      margin-right: 1rem;
      text-transform: capitalize;
      font-weight: bold;
      color: #333;
      padding: 1.4rem 0.4rem;
      // letter-spacing: 1.2;

      @media (max-width: $laptop) {
        padding: 1rem 0.4rem;
      }
    }
  }
  .active {
    color: #c62829;
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
  }
}
