.OrderProgress {
  padding: 0rem 2rem 2rem;
  margin: 4rem 0 7rem;
  background: #fff;

  .OrderProgress-inner {
    max-width: 1350px;
    margin: 0 auto;

    .status-id {
      @include flex(space-around);
      align-items: center;

      @media (max-width: $laptop) {
        flex-direction: column;
      }
      h1 {
        text-transform: uppercase;
        margin-bottom: 1rem;
        margin: 1rem 0 1rem;
        font-weight: 900;
        letter-spacing: 2px;
        font-size: 2.2rem;
        color: #aaa;

        @media (max-width: $laptop) {
          font-size: 2rem;
        }
      }

      p {
        span {
          background: rgb(240, 238, 238);
          padding: 0.3rem 1rem;
          border-radius: 30px;
          margin-left: 0.5rem;
        }
      }
    }

    .progress {
      margin-top: 5rem;

      .display {
        padding: 0.5rem 0;
        margin-bottom: 0.5rem;
        @include flex(space-around);
        text-align: center;
        align-items: center;
        font-size: 1.1rem;
        text-transform: capitalize;
        font-weight: bold;

        p {
          width: 50%;
        }

        span {
          width: 50%;
          font-weight: normal;
          font-size: 1rem;
        }
      }

      .inProgress {
        p {
          color: orange;
        }
      }

      .completed {
        p {
          color: grey;
        }
      }
    }
  }
}
